.notFound__container {
    text-align: center;
}

.notFound__image {
    width: 50%;
    place-items: center;
    display: inline-flex;
}

.notFound__container .btn {
    margin-top: 2rem;
    display: inline-block;
}